$titleColor: #343f52;
$textColor: rgb(96, 106, 123);
$white: white;
$black: #000;
$backdropColor: rgba(30, 34, 40, 0.7);
$bodyBg: rgb(254, 254, 254);
$shadow: 0 0 1.25rem rgb(30 34 40 / 6%);
$secBg: #F1F5FC;
$baseColor: #3f78e0;
$backgroundGradient: linear-gradient(90.05deg, #E7EEFD 0.04%, #FBD7F4 99.95%);
$gradient1: linear-gradient(120deg, #f857a6 10%, #ef3f6e 100%);
$fadeWhite: #aab0bc;
$baseFade: #e0e9fa;